<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link href="Content/Plugin/nprogress/nprogress.css" rel="stylesheet">
    <link href="Content/Plugin/pnotify/PNotify.css" rel="stylesheet" />
    <link href="Content/Plugin/pnotify/BrightTheme.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script> <!-- ou blazor.server.js para Blazor Server -->
    <script src="Content/Vendor/jquery-3.7.1.min.js"></script>
    <script src="Content/Plugin/pnotify/PNotify.js"></script>
    <script src="Content/Plugin/nprogress/nprogress.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script type="module" src="Content/Script/Pedido/FilmeController.mjs"></script>
</body>
</html>