<nav class="fixed w-full z-20 top-0 start-0 border-b border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <img src="favicon.png" alt="Alternate Text" />
        <div class="flex" style="width:50%;">
            <div class="relative w-full">
                <input type="search" id="Filtro"
                       class="block p-2.5 w-full text-gray-900 bg-gray-50 rounded border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                       placeholder="Pesquisar..." required />
            </div>
        </div>
        <button id="refreshCache" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
            Atualizar Filmes
        </button>
    </div>
</nav>